{% extends "layouts/default.twig" %}

{% block content %}
    <section class="photo-banner">
        <div class="container">
            <img src="./assets/img/photo-baner.png">
            <div class="photo-content">
                <p class="photo-title">Be fashion everyday.</p>
                <p class="underline-text">Discover our new inspiring collecion</p>
                <button class="photo-arrow">
                    <img src="./assets/img/arrow-bottom.png">
                </button>
            </div>
        </div>
    </section>

    <section class="black-banner">
        <div class="container">
            <div class="row m-0">
                <div class="col-md-4 col-sm-12">
                    <img src="./assets/img/photo-mask-last-chance.png"/>
                    <p class="subtitle">last chance</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="./assets/img/photo-mask-last-chance.png"/>
                    <p class="subtitle">best seller</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img src="./assets/img/photo-mask-last-chance.png"/>
                    <p class="subtitle">limited edition</p>
                </div>
            </div>
        </div>
    </section>

    <section class="photo-banner m-0">
        <div class="container">
            <img src="./assets/img/photo-mask.png"/>
            <div class="photo-content-second">
                <p>New Collection</p>
                <p class="photo-title-smaller">The shape of a women</p>
            </div>
        </div>
    </section>

    <section class="new-collection">
        <div class="container">
            <div class="row pb-0">
                <div class="col-md-7">
                    <div class="box-v2">
                        <div class="text-content">
                            <p class="new-collection-header">Our new collection, was created with comfort and convenience in mind. Every woman deserves to dress stylishly and comfortably every day.</p>
        
                            <button>    
                                <img src="./assets/img/button.png">
                            </button>
                        </div>
                        <div class="box-img2">
                            <img src="./assets/img/photo-wizerunkowe.png">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box-v2">
                        <div class="box-img">
                            <img src="./assets/img/photo-product-collection.png">
                        </div>
                        <div class="box-text">
                            <p> Blue shirt</p>
                            <p class="product-price">99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pl-0">
                    <div class="box-v2 pt-0">
                        <div class="box-img">
                            <img src="./assets/img/photo-product.png">
                        </div>
                        <div class="box-text">
                            <p> Blue shirt</p>
                            <p class="product-price">99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pl-0">
                    <div class="box-v2 pt-0">
                        <div class="box-img">
                            <img src="./assets/img/photo-product2.png">
                        </div>
                        <div class="box-text">
                            <p> Blue shirt</p>
                            <p class="product-price">99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pl-0">
                    <div class="box-v2 pt-0 pl-0">
                        <div class="box-img">
                            <img src="./assets/img/photo-product3.png">
                        </div>
                        <div class="box-text">
                            <p> Blue shirt</p>
                            <p class="product-price">99$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="personal-stylist">
        <div class="black-banner">
            <div class="container">
                <div class="row m-0">
                    <button class="stylist-arrow stylist-left-arrow">
                        <img src="./assets/img/path-7-copy.png">
                    </button>
                    <div class="slide"> 
                        <h2>Your personal stylist.</h2>
                        <p>Put together your look with us.</p>
                        <div class="col-md-6 col-sm-8">
                            <div class="text-content">
                                <p>Chic look</p>
                                <p class="product-price">400$</p>
                            </div>
                            <img src="./assets/img/photo-chiclook.png">
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="box-img">
                                <div class="text-content">
                                    <p>Elegant trousers</p>
                                    <p class="product-price">99$</p>
                                </div>
                                <img src="./assets/img/photo-trousers.png">
                            </div>
                            <div class="box-img">
                            <div class="text-content">
                                    <p>Elegant shirt</p>
                                    <p class="product-price">99$</p>
                            </div>
                                <img src="./assets/img/photo-shirt.png">
                            </div>
                        </div>
                    </div>
                    <button class="stylist-arrow stylist-right-arrow">
                        <img src="./assets/img/arrow-right-white.png">
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}