<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>  
            <div class="collapse navbar-collapse navbar-first-col" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">NEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SHOP ALL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SALE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            EN 
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">PL</a>
                        <a class="dropdown-item" href="#">DK</a>
                        <a class="dropdown-item" href="#">GB</a>
                    </div>
                    </li>
                </ul>

                <div class="navbar-icons">
                    <div class="search">
                        <img src="./assets/img/search@3x.png">
                        <img class="line" src="./assets/img/line.png">
                    </div>
                    <img src="./assets/img/account.png">
                    <div class="cart">
                        <img class="shopping-cart" src="./assets/img/shopping-cart.png">
                        <p class="cart-items">(X)</p>
                    </div>
                </div>
            </div>
            <div class="navbar-title-img">
                <img src="./assets/img/noume-black.png">
            </div>
        </nav>
    </div>
</header>